.nav-bar {
  align-items: center;
  border-bottom: 3px black solid;
  display: flex;
  align-items: center;
}

.nav-bar a {
  text-decoration: none;
  padding: 0px 15px 0px 15px;
  border: 1px grey solid;
  background-color: #e6e6e6;
  color: black;
}

body {
  background-color: #669999;
}
